@mixin productContainer($property) {
  .#{$property}-container {
    .#{$property}-title {
      text-align: left;
    }
    .#{$property}-content {
      text-align: left;
    }
    .#{$property}-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .from-date, .to-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
    }
    .yes-no {
      margin-top: var(--mediumSpace);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      div {
        &:first-child {
          margin-right: var(--mediumSpace);
        }
        button {
          width: 100px;
        }
      }
    }
  }
}