.table-container {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12);
  padding: var(--mediumSpace);
  border-radius: var(--commonBorderRadius);
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    thead {
      position: sticky;
      top: 0;
      background-color: var(--white);
      th {
        text-align: left;
        padding-top: var(--mediumSpace);
        padding-bottom: var(--mediumSpace);
        &:first-child {
          padding-left: var(--mediumSpace);
        }
        &:last-child {
          padding-right: var(---mediumSpace);
        }
        & > div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: var(--lightgrey);
        }
        td {
          text-align: left;
          &:first-child {
            padding-left: var(--mediumSpace);
          }
          &:last-child {
            padding-right: var(--mediumSpace);
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    table {
      display: block;
      thead {
        display: none;
      }
      tbody {
        display: block;
        tr {
          display: block;
          margin-bottom: var(--mediumSpace);
          border-radius: var(--commonBorderRadius);
          box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12);
          &:hover {
            box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
          }
          td {
            display: block;
            text-align: right;
            width: unset;
            p {
              margin-top: 0;
              margin-bottom: 0;
            }
            &:first-child {
              padding-left: 0;
              padding: var(--smallSpace);
            }
            &:last-child {
              padding-right: 0;
              padding: var(--smallSpace);
            }
            &:before {
              content: attr(data-header);
              float: left;
              position: relative;
            }
            padding: var(--smallSpace);
          }
          &::before, &::after {
            clear: both;
            content: "";
            display: block;
          }
        }
      }
    }
  }
}